# データの準備

## 1. データのダウンロード

#### 以下のサイトからZIPデータをダウンロードし、作業用フォルダの下に「data」というフォルダを作りそこに解凍する

## 2. 作業用データの作成

In [1]:
import pandas as pd 
import os

TRAIN_PATH = './data/train.csv'

In [2]:
df = pd.read_csv(TRAIN_PATH) # It takes time.
df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [3]:
df.shape

(55423856, 8)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55423856 entries, 0 to 55423855
Data columns (total 8 columns):
key                  object
fare_amount          float64
pickup_datetime      object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count      int64
dtypes: float64(5), int64(1), object(2)
memory usage: 3.3+ GB

In [5]:
df_small = df[0:5000000]

In [6]:
df_small.shape

(5000000, 8)

In [7]:
df_small.tail()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
4999995,2011-01-24 21:33:44.0000003,16.5,2011-01-24 21:33:44 UTC,-74.003883,40.725772,-73.969391,40.800830,1
4999996,2013-10-11 12:12:00.000000118,9.0,2013-10-11 12:12:00 UTC,-73.995105,40.739897,-73.985217,40.731950,2
4999997,2014-12-06 23:04:28.0000002,10.5,2014-12-06 23:04:28 UTC,-73.981063,40.764125,-73.979259,40.781857,2
4999998,2015-05-30 19:01:24.0000004,10.0,2015-05-30 19:01:24 UTC,-73.965401,40.759140,-73.971886,40.750870,1
4999999,2012-07-11 08:12:00.000000102,4.9,2012-07-11 08:12:00 UTC,-73.972595,40.743177,-73.965820,40.754412,6

In [13]:
df_small.to_csv("./data/NYC_taxi_small.csv",index=False)

## 3. 学習用データと検証用データの作成（仮）

In [9]:
X = pd.DataFrame(df_small.drop(["fare_amount"], axis=1)) 
y = pd.DataFrame(df_small.fare_amount)

#### データ量が多いため、検証用データは全体の５％とする

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.05, random_state=0)